/*
 * Layout css
 */
html, body {
	height: 99%;
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
}

#page {
	width: 900px;
	margin: auto;
	height: 100%;
	position: relative;
}

#header {
	background: BurlyWood;
	height: 90px;
	padding: 5px
}

#header h1 {
	margin: 0;
}

#sidebar {
	background: Gold;
	float: right;
	width: 200px;
}

#content {
	padding-left: 5px;
	float: left;
	width: 695px;
	background: PaleGreen;
}

#content, #sidebar {
	/* Calculation of the height */
	height: 80%; /* fallback for browsers without support for calc() */
	height: -webkit-calc(100% - 150px); /* WebKit 536.3 (Chrome 19) and above, experimental */
	height: -moz-calc(100% - 150px); /* WebKit 536.3 (Chrome 19) and above, experimental */
	height: calc(100% - 150px); /* final CSS3 compliant implementation; Firefox 16 and IE 9, and above */
}

#footer {
	clear: both;
	height: 50px;
	background-color: aqua;
	position: absolute;
	bottom: 0;
	width: 100%;
}

/*
 * Content css
 */

.tweetsWrapper > div {
	float: left;
	width: 50%;
}

.tweetsWrapper > div input {
	width: 95%;
}
.tweetsWrapper {
	margin-top: 20px;
	overflow: auto;
}
.authorImg {
	float: left;
}

.authorName {
	float: left;
	padding-left: 5px;
}
.authorUsername {
	float: left;
	padding-left: 5px;
}
.timestamp {
	clear: both;
	font-size: smaller;
}

.tweetText {
	clear: both;
}
.submitTweets {
	clear: both;
	text-align: center;
	margin-top: 10px;
}
.tweetDetails {
	margin: 10px 0;
}

.submitHeader {
	text-align: center;
	margin: 10px;
	font-size: large;
}

.tweetSpinner {
	margin-top: 20px;
	text-align: center;
	visibility: hidden;
}